<button type="button" class="btn btn-info"><%= link_to "New Post", new_post_path %></button>
<button type="button" class="btn btn-info"><%= link_to 'Edit', edit_user_path(@user) %></button>
<button type="button" class="btn btn-info"><%= link_to 'Back', users_path %></button>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<!-- remove the password_digest -->
