<h1>Posts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3">Body</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody class="posts">
    <% @posts.each do |post| %>
      <tr class="post">
        <td><%= post.title %></td>
        <td colspan= "3"><%= post.body %></td>
        <td><%= post.user.name %></td>
        <td><%= link_to 'Show', user_post_path(post.user_id, post) %></td>
        <% if user_logged_in? %>
          <td><%= link_to 'Edit', edit_user_post_path(current_user, post) %></td>
          <td><%= link_to 'Destroy', user_post_path(current_user, post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
