  <div id="wrap">
    <div id="main" class="container clear-top">
      <div class="post">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="page-header col-sm-8">
              <strong><%= @post.title %></strong>
              <% if user_logged_in? %>
              <div class="col-sm-4"></div>
              <%= link_to 'Edit', edit_user_post_path(current_user, @post), class:"btn btn-default" %>
              <%= link_to 'Delete', user_post_path(current_user, @post), method: :delete, class:"btn btn-default" %>
              <% end %>
            </div>
            <div class="col-sm-2"></div>
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="page-body col-sm-5">
              <p><%= @post.body %></p>
            </div>
            <div class="page-body col-sm-5">
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %> </small></p>
            </div>
          </div>
        </div>

      <div class="comment">
        <div class="col-sm-3"></div>
        <blockquote class="col-sm-6">
          <div class="col-sm-12 page-header">
            <h2>Comments</h2>
          </div>
          <div class="col-sm-12">
            <%= render @post.comments %>
          </div>
          <br />
          <br />
          <div class="col-sm-12">
            <%= render "comments/form" %>
          </div>
        </blockquote>
        <div class="col-sm-3"></div>
      </div>
    </div>
  </div>
  <footer class="footer text-center"><p>Copyright &copy; Ak</p></footer>
