<!DOCTYPE html>
<html>
  <head>
    <title>TUTTEE</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Alef|Bungee+Shade|Michroma" rel="stylesheet">
  </head>
  <body>
    <%= render "layouts/nav" %>
    <% flash.each do |name, message| %>
    <div class="bs-example">
        <div class="alert alert-warning flash-message-<%= name %>">
            <strong><%= message %></strong>
        </div>
    </div>
      <% end %>
    <%= yield %>
  </body>
</html>
