<!DOCTYPE html>
<html>
  <head>
    <title>Twitty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Bungee+Shade" rel="stylesheet">
  </head>
  <body>
    <header class="navbar navbar-default">
      <div class="container">
        <nav>
            <% if user_logged_in? %>
          <ul class="nav nav-pills navbar-nav navbar-left">
            <li id="welcome_text">Welcome, <%= current_user.name %> !</li>
          </ul>
          <ul class="nav nav-pills navbar-nav navbar-right">
            <li><%= link_to 'New Post', new_user_post_path(current_user) %></li>
            <li><%= link_to 'Posts', user_posts_path(current_user) %></li>
            <li><%= link_to "Sign Out", sign_out_path, method: :delete %></li>
            <li><%= link_to current_user.email %></li>
          </ul>
            <% else %>
          <ul class="nav nav-pills navbar-nav navbar-right">
            <% if !(current_page?(sign_in_path)) %>
            <li><%= link_to "Sign In", sign_in_path %></li>
            <% end %>
            <% if !(current_page?(signup_path)) %>
            <li><%= link_to "Sign Up", signup_path %></li>
            <% end %>
          </ul>
           <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <% flash.each do |name, message| %>
      <div class = "flash-message flash-message-<%= name %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
